<%= form_for @tarefa, remote:true do |f| -%>
  <div class="field" style="padding: 6px;">
    <%= f.label :titulo, class:"label_form" -%><br>
    <%= f.text_field :titulo, class:"text_field form-control" -%><br>
    <%= f.label :descricao, class:"label_form" -%><br>
    <%= f.text_area :descricao, class:"text_area form-control" -%><br>
    <strong style="width: auto;">Entrega</strong>
    <%= f.date_field :entrega_date, class:"date_field" -%><br>
  </div>
  <div class="actions">
    <button onclick="cancelEditTaskForm()" type="button" class="btn btn-primary" style="width: auto; height: auto; float: right">Cancelar</button>
    <%= f.submit "Salvar", class:"btn btn-primary right" -%>
  </div>
<% end %>

<script>
  function cancelEditTaskForm(){
      document.getElementById("tarefas-list").innerHTML = "<%= j render("home/list_tasks") %>";
  }
</script>